*{
    margin: 0;
    padding: 0;
    font-family: 'lucida sans unicode', sanf-serif;
    box-sizing: border-box;
}

h1 {
    color:rgb(182, 24, 24);
}

.transparent-box {
    background-color: rgba(0, 0, 0, 0.86); 
    color: #fff; 
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    width: 60%;
    position: relative;
    margin-left: 348px;
 }

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1000px;
    width: 100%;
}

.ul li {
    text-align: center;
}

.clock {
    font-size: 24px;
    margin-right: 20px;
}

.bucket-col-1{
    flex-basis: 35%;
}

.bucket-col-2{
    flex-basis: 60%;
}

.bucket-col-2 img{
    width: 5%;
    border-radius: 23px;
}
